<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

    <head>
        <meta charset="UTF-8" />
        <title>Dog breed search</title>
        <link href="" rel="stylesheet" type="text/css" />
    </head>

    <body>
